<!-- <p>news works!</p> -->
<div class="maindiv">

</div>
<!-- <div class="slider">
    <div class="myslider fade" style="display: block;">
        <div class="txt">
            <h1>Image 1</h1>
            <p>Web Developer</p>
        </div>
        <img src="assets/news1.jpg" style="width: 100%; height: 100%;">
    </div>

    <div class="myslider fade">
        <div class="txt">
            <h1>Image 1</h1>
            <p>Web Developer</p>
        </div>
        <img src="assets/news2.jpg" style="width: 100%; height: 100%;">
    </div>

    <div class="myslider fade">
        <div class="txt">
            <h1>Image 1</h1>
            <p>Web Developer</p>
        </div>
        <img src="assets/news3.jpg" style="width: 100%; height: 100%;">
    </div>

    <div class="myslider fade">
        <div class="txt">
            <h1>Image 1</h1>
            <p>Web Developer</p>
        </div>
        <img src="assets/s3.jpg" style="width: 100%; height: 100%;">
    </div>

    <div class="myslider fade">
        <div>
            <h1>Image 1</h1>
            <p>Web Developer</p>
        </div>
        <img src="assets/news4.png" style="width: 100%; height: 100%;">
    </div>

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>

    <div class="dotsbox" style="text-align: center;">
        <span class="dot" (click)="currentSlide(1)"></span>
        <span class="dot" (click)="currentSlide(2)"></span>
        <span class="dot" (click)="currentSlide(3)"></span>
        <span class="dot" (click)="currentSlide(4)"></span>
        <span class="dot" (click)="currentSlide(5)"></span>
    </div> -->
<!-- </div> -->
